
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
       
            <table class="table table-bordered border-dark">
                <thead>
                <tr>
                    
                    <th scope="col">UserID</th>
                    <th scope="col">ID</th>
                    <th scope="col">Title</th>
                    <th scope="col">Body</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let i of view">
                    <td>{{i.userId}}</td>
                    <td>{{i.id}}</td>
                    <td>{{i.title}}</td>
                    <td>{{i.body}}</td>
                </tr>
                
                </tbody>
            </table>
                
</div>
</div>
</div>

